<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<string>YES</string>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>Bcwsh30hSEm7rUgIw7Z4pQ</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>Qz-4nM3KTXKxpMOkZwKTrw</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>jr-hH4hkSQO2mWDNA6e8Ag</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>GEhcUDi7RlKr-X8Y90McIQ</string>
</dict>
</plist>
